# presentation tools
jupyterlab==4.0.9
jupyterlab-rise==0.41.0
jupyterlab_code_formatter==2.2.1
jupyterlab-execute-time==3.1.0
jupyterlab-search-replace==1.1.0
diagrams==0.23.4

# core libraries
numba==0.58.1                                              # required for python 3.11 support
numpy==1.26.2
pandas[consortium-standard, parquet, performance]==2.1.3
polars[pandas, pyarrow]==0.19.15
pyarrow==14.0.1

# supporting libraries
black[jupyter]
Faker==20.0.3
isort==5.12.0
matplotlib==3.8.1
pre-commit>=3.5.0
psutil

# QR code
qrcode[pil]==7.4.2
